@import './md.css';

main {
  padding: 0 2rem 1.5rem 22rem;
}

@media (max-width: 1000px) {
  main {
    padding: 0 2rem 1.5rem 17rem;
  }
}

@media (max-width: 750px) {
  main {
    padding: 0 0 1.5rem 0;
  }
}

.post {
  border-radius: 2px;
  background-color: var(--white-light-2);
  padding: 2rem 5rem;
  box-shadow: var(--shadow-spread-light-2);
  transition: all 0.25s;
}

@media (max-width: 750px) {
  .post {
    padding: 2rem 2rem;
  }
}

.post img {
  max-width: 100%;
}

.post:hover {
  box-shadow: var(--shadow-spread);
  transition: all 0.25s;
}

.post .post-front {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.post .post-front .post-front__title {
  font-size: 24px;
  font-family: var(--font-noto);
  margin-bottom: 20px;
  color: var(--black);
}

.post .post-front .post-front__desc,
.post .post-front .post-front__desc a {
  color: var(--secondary);
  font-size: var(--text-sm);
}

.post .post-front .post-front__desc .post-front__desc-date,
.post .post-front .post-front__desc .post-front__desc-category {
  padding: 0rem 0.5rem;
  margin-right: 10px;
  display: inline-block;
}

.post .post-front .post-front__desc .post-front__desc-category:hover {
  background-color: var(--white);
  transition: all 0.25s;
}

.post .post-front .post-front__desc .post-front__desc-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.post .post-front .post-front__desc .post-front__desc-tags > a {
  padding: 0.2rem 0.4rem;
}

.post .post-front .post-front__desc .post-front__desc-tags > a:hover {
  background-color: var(--white);
  transition: all 0.25s;
}

.post .post-front .post-front__desc > p {
  margin-bottom: 5px;
}

.post .post-content > * {
  margin-bottom: 1rem;
  color: var(--text);
}
.post .post-content ul {
  padding-left: 1.5rem;
}
.post .post-content li {
  list-style: disc;
  margin-top: 0.25rem;
}
.post .post-content li:first-child {
  margin-top: 0;
}

.post .post-content strong {
  color: var(--black);
}

.post .post-content a {
  text-decoration: none;
  color: var(--primary);
  border-bottom: 2px solid transparent;
}
.post .post-content a:hover {
  color: var(--primary);
  border-bottom-color: var(--primary);
}

.post .friends img {
  width: 80px;
  height: 80px;
  border-radius: 4px 4px 0 0;
}
.post .friends {
  display: flex;
  flex-wrap: wrap;
}
.post .friends a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: var(--shadow-normal);
  margin-bottom: 1rem;
  margin-right: 1rem;
  transition: all 0.25s;
}
.post .friends a:hover {
  box-shadow: var(--shadow-md);
  transition: all 0.25s;
}

.sidebar .info > * {
  margin-bottom: 0;
}
.sidebar .info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  margin-bottom: 0.5rem;
}

.sidebar .info .avatar {
  grid-row: 1 / span 3;
}

.sidebar .back-home {
  cursor: pointer;
  margin-bottom: 1rem;
}
.sidebar .info .links {
  margin-bottom: 0.5rem;
}
.sidebar .back-home i {
  display: inline-block;
  margin-right: 5px;
  transition: all 0.25s;
}
.sidebar .back-home:hover {
  color: var(--primary-light-2);
  transition: all 0.25s;
}
.sidebar .back-home:hover i {
  margin-right: 10px;
  transition: all 0.25s;
}
