main {
  padding: 0 2rem 1.5rem 22rem;
}

.post {
  border-radius: 2px;
  background-color: var(--white-light-2);
  padding: 2rem;
  box-shadow: var(--shadow-spread-light-2);
  transition: all 0.25s;
}
.post:hover {
  box-shadow: var(--shadow-spread);
  transition: all 0.25s;
}

.post .post-front {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.post .post-front .post-front__title {
  font-size: 24px;
  font-family: var(--font-song);
  margin-bottom: 20px;
}

.post .post-front .post-front__desc,
.post .post-front .post-front__desc a {
  color: var(--secondary);
  font-size: var(--text-sm);
}

.post .post-front .post-front__desc .post-front__desc-date,
.post .post-front .post-front__desc .post-front__desc-category {
  padding: 0.2rem 0.4rem;
  display: inline-block;
}

.post .post-front .post-front__desc .post-front__desc-category:hover {
  background-color: var(--white);
  transition: all 0.25s;
}

.post .post-front .post-front__desc .post-front__desc-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.post .post-front .post-front__desc .post-front__desc-tags > a {
  padding: 0.2rem 0.4rem;
}

.post .post-front .post-front__desc .post-front__desc-tags > a:hover {
  background-color: var(--white);
  transition: all 0.25s;
}

.post .post-front .post-front__desc .post-front__desc-date {
  margin-right: 1rem;
}

.post .post-front .post-front__desc > p {
  margin-bottom: 5px;
}

.post .post-content > * {
  margin-bottom: 1rem;
}
